{% extends 'myproject/base.html' %}
{% load static %}
{% block title %}注册{% endblock %}
{% block content %}
    <div class="container">
        <form action="/register/" method="post">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {% csrf_token %}
            <p>
                <label for="id_username">用户名：</label>
                <input type="text" id="id_username" placeholder="用户名" name="username" autofocus required>
            </p>
            <p>
                <label for="id_password">密码：</label>
                <input type="password" id="id_password" name="password" placeholder="密码" required>
            </p>
            <p>
                <label for="id_email">邮箱：</label>
                <input type="email" id="id_email" name="email" placeholder="邮箱" required>
            </p>
            <p>
                <label for="id_sex">性别：</label>
                <select id="id_sex" name="sex">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </p>
            <p>
                <label for="id_ctime">日期：</label>
                <input type="datetime-local" id="id_ctime" name="time" placeholder="日期" required>
            </p>
            <button type="reset">重置</button>
            <button type="submit">提交</button>
        </form>
    </div>
{% endblock %}