<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <input id="name" placeholder="用户名" type="text">
   <input id="word" placeholder="密码" type="text">
    <button id="btn" type="button">登录</button>
<script src="/static/jquery.js"></script>
<script>
    $(function(){
        $("#btn").click(function () {
            var u=$("#name").val()
            var p=$("#word").val()
            console.log(u)
            console.log(p)
            if(u!="" && p!=""){
                $.ajax({
                    url: 'login_result',
                    type: 'GET',
                    data: {username: u, password: p},
                    success: function (data) {
                        //回调函数 arg是服务器返回的字符串
                        console.log(data)
                        data = JSON.parse(data);
                        if (data["status"] == 1) {
                             alert(data["result"]);
                             var user = data["user"];
                             console.log(user);
                             {#$.ajax({#}
                             {#    url:'data.html',#}
                             {#    type:'post',#}
                             {#    data:{username:user},#}
                             {#    success:function (data) {#}
                             {#        console.log(data)#}
                             {#    }#}
                             {#{)#}
                             {#window.location.href="/data.html?"#}
                        } else {
                            alert(data["result"]);
                            window.location.href="/error.html"
                        }
                    }
                })
            }
        })
    })
</script>
</body>
</html>